.AllBeers img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    align-items: center;
}

.AllBeers {
    padding-top: 80px;
    padding-left: 100px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    padding-top: 60px;
}