
.img-container {
    margin: 50px 0 50px 0;
}

.img-container img {
    height: 400px;
}

.div-detail h2 {
    color: gray;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px 0 40px;
}

.div-description {
    text-justify: distribute;
    text-align: justify;
    margin: 0 40px 0 40px;
}

.description-beer {
    display: flex;
    justify-content: center;
}

.contributed {
    color: gray;
}