

.light {
	background: #f3f5f7;
}


.card {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #0c0b0b;
  background-color: #e1e5ea;
}
	
  a {
    color: inherit;
  }
	
  .card__title {
    font-size: 1.75rem;
  }

  .card__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

 

  .card__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .card__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .card__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  