body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home{
  margin: 100px
}

.img-beers {
  width: 80%;
  height: 300px;
  object-fit: cover;
  object-position: top
}


.homeButton {
  height: 100px
}

.image-beer-detail{
  width: 20%;
  height: 300px;
  object-fit: cover
}