.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  padding: 20px;
  background: #61dafb;
  margin-bottom: 50px;
}

.home-page p{
  max-width: 400px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.card-img-top {
  height: 100px;
  /* height: 100px; */
  object-fit: cover;
 }

.view-beer-details {
  color: teal;
}