.App {
  text-align: center;
  width: 400px;
  margin: 30px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.navlist{
  list-style: none;
  background-color: aquamarine;
}

.nav-style {
  text-align: center;
  list-style: none;
  display: inline;
  margin: 0 10px;
}

.nav-style a {
  text-decoration: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


img {
  width: 100px;
}