<div class="card d-flex justify-content-center" style="width: 33.333%;">
  <figure class="d-flex justify-content-center"><img class="card-img-top align-self-center" src={{this.image_url}} alt=""/></figure>
      <div class="card-body">
        <h3 class="card-title">{{this.name}}</h3>
        <h5 class="card-subtitle">{{this.tagline}}</h5>
        <p class="card-text">{{this.description}}</p>
      </div>
</div>