.nav-bar {
  background-color: lightblue;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}