/* multiple beers */
.beer {
 display: flex;
border-bottom: 1px solid black;
padding-top: 2em;
}

.beer img {
        width: 35px;
        height: 120px;
}

.beer-data{
padding: 0em 2em;
}
/* single beer display */
.beer-display {
display: flex;
flex-direction: column;
border-bottom: 1px solid black;
padding-top: 2em;
margin: 0% 10%;
}
.beer-display img{
width: 8em;
height: 20em;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
