.section img{
    width:100%;
    object-fit: cover;
}

.section h2{
    padding: 10px 20px;
    background-color: yellow;
    display:inline-block;
}

.section h2:hover{
    background-color: black;
    color:white;
}