<div id="index-cont" class="container">
  <div class="row justify-content-center align-items-center flex-column">
    <img id="beer-home" class="mb-4" src="images/beer.png" alt="">
    <a href="/beers"><button type="button" class="btn btn-primary mb-3">Check the Beers</button></a>
    <a href="/random-beer"><button type="button" class="btn btn-primary">Check a Random Beer</button></a>
  </div>
</div>