.searchbar {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar input {
    height: 100%;
    width: 90%;
    text-align: center;
    font-size:1.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid rgb(206, 206, 206);

}

.beer-holder {
    height: 90vh;
    overflow-y: scroll;
}
