.all-beers {
  width: 30vw;
  margin-right: auto;
  margin-left: auto;
}

.beers-card {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(166, 177, 189);
  padding: 2%;
}
  

.beers-image{
  height:80px;
  margin: 10px;
}

.beers-text h5 {
color: grey;
}

.beers-text p {
font-size: 0.6em;
}
