.homeContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}


.beerContainerHome{
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    margin: 10% auto;
    width: 30%;
    height: 70vh;
    padding: 1%;
    box-sizing: border-box;
}
p{
    width: 90%;
    margin: 0 auto;
    font-size: .9rem;
    text-align: justify;
}


img{
    width: 100%;
    height: auto;

}
h1{
    text-align: center;
    display: block;
}

h2{
    text-align: center;
}