.NewBeerContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}



.fieldInput{
    border-radius: 10px;
    margin: 10px;
}

.buttonAddNew {
    width: 20vw;
    border-radius: 10px;
    margin: 10px 10px 0px 0px;
    background-color: #3DC4FC;
}

.NewBeerLabel {
    margin: 20px;
}