img{
    height: 20vh;
    padding: 20px;
}
.beerimg{
    width: 100px;
}
.beer-card{
    display: flex;
    justify-content:flex-start;
    
}
.details-link{
    text-decoration: none;
}
.cardname{
font-size: 30px;
color: black;
}
.cardtag{
font-size: 20px;
color: dimgrey;
font-weight:600;
}
.cardcreated{
font-size: 10px;
color: black;
}
.cardby{
font-size: 10px;
font-weight: bold;
color: black;
}
.bar{    
background-color:rgb(196, 189, 189); 
height: 1px; 
border: 0;
}   