.Beer img {
  height: 8rem;
}

.Beer .info {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Beer .tag {
  display: flex;
  text-decoration: none;
  color: black;
}

.Beer p {
  color: gray;
  margin: 0;
}

.Beer .tagline {
  font-size: 0.9rem;
}

.card {border: 1px solid rgba(0, 0, 0, 0.06);}
.card:hover {
  background-color:  rgba(0, 0, 0, 0.06);
  transition: all .3s ease-out;
}
.card img { max-width: 60px; }
.card a {
  text-decoration: none;
  color: initial;
}
.card a:hover{
  text-decoration: none;
}