nav {
    width: 100vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #008200;
    color: white;
    padding: 10px; 
}

nav .nav-text {
  color: white;
  text-decoration: none;

}

nav .nav-text:hover {
  color: grey;
  text-decoration: none;
}

nav img {
  width: 5vw;
}