.ShowBeer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

.ShowBeer .beer-info {
  margin-top: 1rem;
}

.ShowBeer .line {
  display: flex;
  justify-content: space-between;
}

.ShowBeer img {
  height: 12rem;
}

.ShowBeer p {
  line-height: 1rem;
}

.ShowBeer .gray {
  color: grey;
}
