:root {
  --gray: rgb(143, 143, 143);
}

.detail-img {
  height: 200px;
  margin: auto;
  display: block;
}

h2 {
  font-family: sans-serif;
  font-size: 1.8em;
  font-weight: 200;
}

.att-level {
  font-family: sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  color: var(--gray);
}

.tagline {
  font-family: sans-serif;
  font-size: 1.2em;
  color: var(--gray);
}

.contributor {
  font-family: sans-serif;
  font-weight: 600;
  color: var(--gray);
}
