.single-beer-container {
  flex-direction: column;
  height: 86vh;
}

.name-rating,
.tag-brewed {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  width: 100%;
  text-align: left;
}

.single-beer-img {
  height: 40%;
  width: auto;
}

.back {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  background-color: rgb(62, 196, 252);
}
