.beer-detail {
  margin: 0 auto;
  height: 80vh;
  width: 80vw;
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-img-wrapper {
  height: 65vh;
  width: 40%;
}

.detail-img-wrapper > img {
  height: 80%;
  width: 20vw;
  object-fit: contain;
}

.beer-detail-text {
  height: 40vh;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.detail-line-1 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-line-2 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-line-3 {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.detail-name {
  font-size: 2.5rem;
  font-weight: lighter;
}

.detail-attlevel {
  font-size: 2.5rem;
  color: #d3d3d3;
}

.detail-tagline {
  font-size: 1.8rem;
  color: #777;
}

.detail-date {
  font-weight: bold;
  text-decoration: none;
}

.detail-desc {
  text-decoration: none;
  line-height: 1.2rem;
}

.detail-author {
  font-weight: bold;
  color: #777;
}

@media (max-width: 500px) {
  .beer-detail {
    flex-direction: column;
    width: 100vw;
    margin: 30px auto;
    padding: 20px 0;
  }

  .detail-img-wrapper {
  height: 35vh;
  width: 80vw;
  }

.detail-img-wrapper > img {
  height: 80%;
  width: 80vw;
  object-fit: contain;
  }

  .beer-detail-text {
    height: 60vh;
    width: 100vw;
    padding: 0;
  }

  .detail-line-1,
  .detail-line-2,
  .detail-line-3 {
    width: 90%;

  }
  .detail-name {
  font-size: 1.4rem;
  font-weight: lighter;
  }

.detail-attlevel {
  font-size: 1rem;
  color: #d3d3d3;
  }

.detail-tagline {
  font-size: 1.2rem;
  color: #777;
  }

.detail-date {
  font-weight: bold;
  text-decoration: none;
  }

.detail-desc {
  text-decoration: none;
  line-height: 1.2rem;
  }

.detail-author {
  font-weight: bold;
  color: #777;
  }
}