.nav-style {
	width: 100%;
	background-color: rgb(0, 153, 255);
	height: 50px;
	position: fixed;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-style img {
	width: 40px;
}
