.all-beers {
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    color: black;
    width: 600px;
    margin: 20px;
}

#main-all-beers h1 {
    margin-top: 40px;
}

#main-all-beers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-beers img {
    /* margin: 20px 50px 20px 20px; */
    height: 160px;
}

.text-all-beers {
    margin: 20px 50px 20px 0px;
}

.wrap-img {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagline {
    color: rgb(119, 119, 119);
}