.beer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 1rem;

    position: relative;
    height: 20vh;
}

.beer .content-visu {
    width: 5rem;
    height: 100%;

    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.beer .beer-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 5rem;
}

.beer .beer-title {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #333;
}

.beer .beer-tagline {
    font-size: 1rem;
    color: #666;
}

.beer .beer-credits {
    font-size: .8rem;
}

.beer .image {
    height: 100%;
    margin: 0 auto;
    width: auto;
    padding: 10px;
}