.Beers img {
  height: 200px;
  width: 120px;
}

.Beers .beer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid grey;
}

.Beers .beer-container * {
  text-decoration: none;
  color: black;
}

.Beers .beer-tagline {
  color: grey;
}
