.Header {
  display: flex;
  justify-content: center;
  align-self: center;
}
header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
}
.home_btn {
  color: white;
}
