.header {
  background-color: dodgerblue;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.navlink {
  text-decoration: none;
  color: white;
}
