@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.home {
    display: flex;
    flex-direction: column;
}

.home-img{
    width: 100%;
    height: 42vh;
    align-items: center;
  }

.home h3{
    justify-content: flex-start;
}