#main-home-beers {
    /* border: 4px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.beer-home {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    width: 400px;
}

.div-text-home {
    /* border: 2px solid green; */
    padding: 10px 30px 30px 30px;
}

.div-text-home p {
    color: rgb(133, 133, 133);
}