#main-random-beer {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-random-beer {
    /* border: 2px solid pink; */
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

.container-random-beer img {
    width: 140px;
}

.text-random-beer {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    padding: 10px;

}

.divtext1 {
    display: flex;
    justify-content: space-between;
}