.Beer {
  width: 538px;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid rgb(210, 210, 210);
}
.Beer__image {
  height: 200px;
  padding: 16px;
}

.Beer__data {
  height: 200px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Beer__data p{
  margin-bottom: 0;
}