.Beer__container {
margin: 20px;
}

.Beer__img {
    height: 40vh;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
}

.Beer__title {
    display: flex;
    justify-content: space-between;
}

.Beer__title__attenuation {
    color: gray;
}

.Beer__subtitle {
    display: flex;
    justify-content: space-between;
}

.Beer__subtitle__tagline {
    color:gray;
}

.Beer__content__contributed {
    color: gray;
}