.Beer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;
}

.cardId {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 600px;
  border: 1px solid rgb(170, 164, 164);
  box-shadow: 10px 10px silver;
}

.beer-image {
  height: 350px;
  padding: 15px;
  object-fit: contain;
}

.card-titles {
  display: flex;
  flex-direction: column;

}

.title-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-name h3 {
  margin: 0
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.content p {
  font-size: smaller;
  line-height: 85%;
  text-align: left;
}