.Beer {
    width: 540px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    border: 1px solid rgb(202, 202, 202);
   
}

.beerDiv p {
    margin: 0 0;
}

.beerInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin-left: 25px;
    margin-right: 20px;
    align-items: flex-start;
}

.beerInfo h5 {
    color: lightslategrey;
    margin-right: 10px;
    margin-top: 0;
}

.beerDiv {
    display: flex;
    flex-direction: column;
}

.Beer img {
    height: 200px;
    display: flex;
    padding: 30px;
}