.container {
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
}

.beer-img {
  width: 50px;
  margin-top: -2px;
}

.text-card {
  align-items: center;
  margin-left: 20px;
  text-align: start;
}

.card-container {
  display: flex;
  align-items: center;
}

h4 {
  color: gray;
  font-weight: normal;
}

.detail-img {
  width: 50px;
}