.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#homebutton{
    /* min-width: 320px;
    max-height: auto; */
    width: 100%;
    height: auto;
    position: fixed;
    left:0;
    top:0;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

h3{
  padding-left:3rem;
  padding-left:1rem;
}
p{
  padding-left:3rem;
  padding-left:1rem;
}
.cover-container img{
  padding-bottom: 1rem;
  /* min-width: 320px;
  max-height: auto; */
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cover-container{
  text-align: left;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-sizing: border-box;
}

.page-container{
  padding-top: 20%;
}