.img-container{
  height: 150px;
  width: 100%;
  background: url("https://static1.squarespace.com/static/59f62dcd90bcce962f93a59b/5a18e83471c10b644b78a564/5a18ef7b085229dccc76ad88/1511583613534/Benson+Brewery+Bar+Tap+Handles+Side.jpg?format=1000w");
  background-size: cover;
  
}