.App{
  font-family: avenir, Helvetica, sans-serif;
}

ul {
  
}

h1{
  font-weight: lighter;
  color: black;
}

.navbar{
  display: flex;
  color: black
}

.link{
  color: black;
  text-decoration: none;
}

.link:hover{
  color:grey;
}