.form-label {
    color: #3e3e3e;
    font-size: 0.7em;
    font-weight: bold;
    text-align: left;
}

.form-control {
    border-radius: 25px;
}

.add-beer-title {
    color: #3e3e3e
}

hr {
    width: 200px;
    height: 2px;
    color: #3e3e3e
}