.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container a {
  text-decoration: none;
  color: blue;
}

.beer-box {
  border-bottom: solid 1px gray;
  display: flex;
  align-items: center;
  height: 200px;
}
.beer-box img {
  height: 150px;
  width: 60px;
  margin: 20px;
}

.bold {
  font-weight: bold;
}
