.custom-btn {
  background-color: white;
  border: none;
}

.flex-center {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100px;
  margin: 1em auto;
}

.card {
  margin-top: 2em;
}

.margin-top {
  margin-top: 5em;
}
