
.column{
    display: table;
    float: left;
    width: 30%;
    padding: 10px 10px;
    
}

.column img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:350px; 
}
.column h6{
    font-weight: bold;
    margin-bottom: 5px;
    
}

.tagline{
    color:#bfbfbf ;
    font-weight: bold;
}

.card{
    padding: 20px;
    text-align: left;
    float: left;
    width: 100%;
    height: 600px;
     
   
}
.card p{
     
    font-size: small;
    font-weight: bolder;
}
.mt-0{
    font-weight: bolder;
}