@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #343a40 !important;
}

body ::selection {
  background: #353866;
  color: #f8faff;
}

h1 {
  font-family: 'Roboto Mono', serif;
  text-align: center;
  margin: 2rem auto;
  font-weight: 700;
}
.spinner-border {
  color: #353866;
}
.bg-custom {
  background-color: #343a40;
  .nav-link,
  .navbar-brand {
    color: #aaabd3;
  }
}
.navbar-toggler {
  padding: 10px;
  border: 0 none;
  box-shadow: 0 none;
  background-color: rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.9);
  }
  &:focus,
  :active {
    border: 0 none;
  }
  &.active {
    color: #eeeeee;
  }
}
.bg-all-beers {
  background-image: url('../images/all-beers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.bg-random-beer {
  background-image: url('../images/random-beer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.bg-new-beer {
  background-image: url('../images/new-beer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.list-unstyled {
  .media {
    border-bottom: 1px solid #dfdcdc;

    &:nth-child(2n) {
      background-color: #eeeeee;
    }
    &:last-child {
      border-bottom: 0 none;
    }
    img {
      max-height: 70px;
      max-width: 30px;
    }
  }
}
.input-group {
  .form-group {
    margin-bottom: 0;
    width: 100%;
  }
}
.form-group {
  label {
    text-transform: capitalize;
  }
}
.dropdown-menu {
  &.show {
    min-width: 100%;
  }
}
