.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 2em;
}


.NewBeerForm {
    margin-top: 1.5em;
}

.NewBeerForm__submit {
    display: block;
    margin: 0 auto;
    padding: 7px 18px;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
    border: 2px solid darkgrey;
    background-color: #E3EDF0;
    transition: padding 0.5s ease-in, background-color 0.5s;
}

.NewBeerForm__submit:hover {
    background-color: deepskyblue;
    color: white;
    border: 2px solid lightblue;
    padding: 10px 60px;
    cursor: pointer;
}

.NewBeerForm__submit:disabled:hover {
    padding: 7px 18px;
    background-color: #E3EDF0;
    border: 2px solid darkgrey;
    color: rgb(170, 170, 170);
    cursor: default;
}

@media only screen and (max-width: 420px) {
    .NewBeerForm {
        margin: 1em;
        font-size: 20px;
    }
}