.SectionCard {
    max-width: 760px;
    box-shadow: 2px 2px 10px 2px grey;
    color: black;
    margin-bottom: 1rem;
}

.SectionCard:hover {
    box-shadow: 2px 2px 10px 7px lightskyblue;
}

.SectionCard__content h2 {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 360px) {
    .SectionCard__image {
        height: 42vh;
    }
}

.SectionCard__image {
    width: 100vw;
    max-width: 760px;
}

.SectionCard__content {
    border: 2px solid gainsboro;
    border-top: none;
    padding: 1rem;
}
