@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
html {
  font-size: 10px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 2;
  color: #333;
  font-size: 1.6rem;
  padding: 10rem 0;
}

body strong {
  font-weight: 700;
}

.title {
  margin: 4rem;
}

.home-link {
  color: #333;
  text-align: center;
  padding-top: 3rem;
  border-top: solid 0.1rem #333;
  position: relative;
}

.home-link:before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6rem;
  height: 6rem;
  position: absolute;
  background: url(../images/beer.svg) no-repeat center center/contain;
  left: 50%;
  margin-left: -3rem;
  top: -10rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.home-link:hover {
  color: #333;
  text-decoration: none;
}

.home-link:hover:before {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.header,
footer {
  background: #fff;
  position: fixed;
  z-index: 1;
  font-size: 20px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

footer {
  bottom: 0;
  padding: 2rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  top: 0;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  color: #333;
}

.header .logo:hover {
  text-decoration: none;
}

.header .logo:hover .icon {
  margin: 0 0.2rem;
}

.header .logo .icon {
  width: 4rem;
  height: 4rem;
  background: url(../images/beer.svg) no-repeat center center;
  margin: 0 1rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.card {
  margin-top: 2rem;
  border: 0;
}

.card .card-header {
  height: 20rem;
  position: relative;
  background: transparent;
}

.card .card-header::before {
  content: '';
  width: 3rem;
  height: 3rem;
  background: url(../images/more-info.svg) no-repeat center center/contain;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.card .card-header .card-pic {
  position: absolute;
  content: '';
  width: 80%;
  height: 80%;
  margin: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card .card-header:hover {
  cursor: pointer;
}

.card .card-header:hover > .card-pic {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card .card-body ul {
  padding: 0;
  list-style: none;
}

.card .card-body h6 {
  font-size: 1.4rem;
}

.card .card-body .tagline {
  color: rgba(0, 0, 0, 0.4);
}

.card .card-title {
  font-weight: 700;
  font-size: 1.8rem;
}

.card .card-text,
.card .card-body ul {
  font-size: 1.2rem;
}

.card .card-footer {
  font-size: 1.4rem;
  line-height: 1.2;
  background: #e9ecef;
}

.card .card-footer strong {
  font-weight: 700;
  color: #000;
  display: block;
}

.form-control {
  border: 0;
  border-radius: 0;
  font-size: 1.6rem;
  border-bottom: solid 0.1rem #333;
  outline: none;
}

.search-input {
  margin: 2rem 0 6rem 0;
  position: relative;
}

.search-input:before {
  content: '';
  display: block;
  position: absolute;
  background: url(../images/search.svg) no-repeat center center/contain;
  right: 1rem;
  bottom: 1rem;
  border-bottom: 0;
  width: 2rem;
  height: 2rem;
}

.single-card .card-header {
  border: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  height: 60rem;
}

.single-card .card-header:before {
  content: none;
}

.single-card .card-header:hover {
  cursor: initial;
}

.single-card .card-header:hover > .card-pic {
  -webkit-transform: none;
          transform: none;
}

.single-card .card-body {
  padding: 4rem 0 0 4rem;
  font-size: 1.4rem;
}

.single-card .card-body h5 {
  margin-bottom: 4rem;
}

.new-form .form-group {
  margin-bottom: 4rem;
}

.new-form .form-group .form-control {
  background: transparent;
}

.new-form button {
  border: solid 0.1rem #333;
  padding: 0.4rem 3.2rem;
  background: transparent;
  margin: 0 auto;
}
/*# sourceMappingURL=styles.css.map */