.main-section {
  text-align: initial;
  margin-bottom: 20px;
}

.main-section h2{
  margin: 1.4vh 2vh;
  color: black;
}

.main-section p{
  margin: 0px 2vh;
  color: gray;
}

.main-section img{
  width: 100%;
}

.home-icon {
  height: 3vh;
}

.main-section-link:hover {
  text-decoration: none;
}