.nav {
  background-color: #3DC4FC;
  padding: 2vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color:white
}

.nav p {
  margin: 0;
}

.nav a {
  color: white;
  padding: 1vh 1vh 0;
}

.nav a:hover {
  text-decoration: none;
}