
.card-img-top{
  text-align: center;
  width: 400px;
  height: 400px;
  margin-top: 20px;
  }
.card{
  align-items: center;
  justify-content: center;
}

.info-sigle{
  margin-top: 50px ;
  padding-bottom: 50px;
  border-bottom: 2px solid #BDBDBD;
  
}
.img-beer{
  
  width: 100px;
  height: auto;
}
.beerDatils{
  align-items: center;
  justify-content: center;
  text-align: center
}
.img-Details{
  
  width: 100px;
  height: auto;
  }

  .text-left{
    text-align: left;
  }
  .navbar {
    
    text-align: center;
   
  }