@import '~antd/dist/antd.css';

.site-card-wrapper {
    padding: 50px;
    background: #ffffff;
}

.line-tag-card {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.pic-card {
    width: 120px;
    height: 220px;
    object-fit: contain;
    margin-bottom: 5px;
    position: relative;
    margin-left: 30px;
}

.col-card {
    margin-bottom: 20px;
    width: 250px;
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}