.beerBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 10px;
  background-color: white;
}

a {
  color: black;
}
