.card-section { 
   
}


.card-section {
    color: black;
    text-align: left;
    
}
.card-text {
 color: grey
}

.title {
    padding: 150px 50px;
    
}
.card-title{
    padding: 8px;
}
.card-card{
    border: 1px solid black;
    background-color: bisque;
}