@media (max-width: 414px){
    .Home{
        text-decoration: none !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .CardHome img {
        width: 100%;
    }

    .CardHomeInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .CardHomeInfo h1{
        padding: 0px;
        margin-bottom: 3px;
    }

    .CardHomeInfo p{
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
        color: rgb(46, 46, 46);
    }
}

