nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.list {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.items {
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


@media screen and (max-width: 500px){
    .list {
        flex-direction: column;
        height: auto;
    }

    .items {
        width: 100%;
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
        color: #f1f1f1;
    }
}