nav{
    height: 50px;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 50px;
    margin-bottom: 50px;
}

nav a{
    text-decoration: none;
    color: #4a4a4a;
}

nav a:hover{
    color: #a18d8d;
    text-shadow: 0 0 1px black;
}