.Navbar {
    display: flex;
    justify-content: space-between;
    background: #352275;
    padding: 5px 20px;
}

.Navbar li,
.Navbar a {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 0px 20px;
    font-size: 1.2rem;
    color: white;
}