.beer {
    margin: 0 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border: 3px solid lightgrey;
  height: 400px;
  box-shadow: 0 0 7px rgba(36, 35, 35, 0.6);
}

.img {
  width: 30%;
  height: 400px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beer img {
  display: block;
  float: left;
  width:  120px;
  height: 300px;
  object-fit: contain;
}
