.Nav{
    background-color: rgb(18, 120, 253);
    height: 40px;
    width: auto;
    display: flex;
    place-items: center;
    justify-content: center;
}

.ImgContainer{
    height: 250px;
    width: auto;
}

.Sect{
    display: column;
    justify-content: center;
}

.TextH{
    font-size: 12px;
    color: black;
}

.ImgAll{
    height: 110px;
}

.ListAll{
    display: flex;
    padding: 20px;
}

.line{
    width: auto;
    color: gray;
    height: 10px;
}