@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 300;
  margin: 30px 0
}

img {
  width: 100%;
}