img {
  width: 100%;
}
.main {
  padding-top: 40px;
}
.spinner-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-primary {
  background-color: #3EC4FC!important;
  border-color: #3EC4FC!important
}
