.nav {
  background-color: #3dc4fc;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-home {
  color: white;
  font-size: 4rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.home img {
  max-width: 500px;
}
.home p {
  max-width: 700px;
  padding-bottom: 2rem;
}
.beers-card {
  display: flex;
  max-height: 150px;
  margin: 1rem;
  text-decoration: none;
}
.beers-card img {
  max-width: 50px;
  padding-right: 2rem;
}
.beers-card-right {
  text-align: left;
}
.beers-tagline {
  color: darkgray;
}
.beer-detail {
  padding: 1rem;
}
.beer-detail-image {
  max-width: 120px;
}
.beer-detail-tagline {
  color: darkgray;
}
.beer-detail-text {
  text-align: left;
}
.not-found {
  margin: 2rem;
  font-weight: bold;
  font-size: 28px;
}
.new-beer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.beer-form-holder {
  display: flex;
  width: 500px;
  flex-direction: column;
  text-align: left;
}
.beer-form-holder input {
  width: 100%;
}
.beer-form-holder textarea {
  width: 100%;
  height: 250px;
}
button {
  background-color: #3dc4fc;
  width: 250px;
  border-radius: 25px;
  padding: 0.5rem;
  margin: 1rem;
  color: white;
  font-weight: bold;
  border-style: none;
}
