header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3dc4fc;
    box-shadow: 1px 1px 4px rgb(58, 57, 57);
}

header img {
    width: 10vw;
}

.beers-container {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(177, 176, 176);
}

.beers-container img {
    height: 22vh;
}

.beer-box {
    width: 50vw;
}