.boxHome{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.background{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

