.homepage-container {
  text-align: left;
}

.beers-info-container {
  margin: 0 auto;
}

.homepage-link {
  text-decoration: none;
  display: block;
  font-size: 32px;
  font-weight: 400;
}

.homepage-img-container {
  display: flex;
  justify-content: center;
}

.padding-25 {
  padding: 0 25px;
}

@media screen and (min-width: 780px) {
  .beers-info-container {
    text-align: left;
    width: 50%;
    margin: 0 auto;
  }
  .beer-description {
    padding-left: 150px;
  }

  .beer-description > p {
    width: 75%;
  }
}
