
.h1
{
  text-align: left;
}

.text
{
  text-align: left;
  color: rgba(0,0,0,.55);
}

a:visited {
    text-decoration: none;
    color: rgba(0,0,0,.55);
}

a:hover {
  text-decoration: none;
  color: rgba(0,0,0,.77);
}

a { 
    text-decoration: none; 
    color: rgba(0,0,0,.55);
}
