.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.noStyle {
    text-decoration: none;
    color: rgb(114, 112, 112);
    width: 200px;
    margin: 10px;
    border: 1px solid rgb(114, 112, 112);
    font-size: 10px;
}

.noStyle:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.homeImage {
    width: 200px;
}