.Link{
    color: black;
    text-decoration: none;
}

.Link:hover{
    color: rgb(133, 133, 133);
}

.Section p{
    margin-top: 1px;
    margin-bottom: 20px;
    color: rgb(133, 133, 133);
    width: 80%;
}

.Section img {
    width: 100vw;
}

.Text {
    margin: 5px 10% 5px 10%
}

h1 {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

p {
    padding: 0;
    margin: 0;
}