.formulario{
    margin-left: 450px;
    margin-right: 470px;
    margin-top: 50px;
    text-align: center;
}

.formulario button{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}