.textAlign {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        
        }


.image {
    max-height: 200px;
}

.table {
    width: 100%;
    background-color: #1ee55a1c;


}