/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  background-color: #61dafb;
  width: 100vw;
  max-height: 5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.AppBeer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.cardsHome{
  margin-left: 0;
} 
h1{
  text-align: center;
}
.home{
  width: 100vw;
  height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NavBar{
  background-color: #3DC4FC;
  width: 100vw;
  justify-content: center;
  align-items: center;

}
.components{
  height: 100%;
  padding: 0;
}
.imgNav{
  max-width: 55px;
}
.BeersImg{
  max-height: 30vh;
}
.lista_Cont{
  margin-top: 3vh;
  display: flex;
} 
.Beer_Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vh;
}
ul{
 list-style-type: none;
}
h4{
  color: gray;
}