.home-image {
  width: 100%;
  height: auto;
}

.maximun-width {
  width: 100%;
}

.link-class {
  text-decoration: none;
  color: black;
  margin: 100px 0;
}

.header {
  background-color: rgb(0, 217, 255);
  height: 40px;
  text-align: center;
  width: 100%;
}

.header-icon {
  color: white;
  font-size: 1.8rem;
  margin-top: 7px;
}

.home-unit {
  margin-bottom: 50px;
}

.home-unit-text {
  margin: 20px 50px;
}

.home-unit-text h2{
  font-size: 2.5rem;
}
.home-unit-text p {
  font-size: 1.3rem;
  color: grey
}

.beers-beer-wrapper {
  height: 200px;
  border-bottom: grey solid 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0; 
}

.beers-image-section {
  width: 20%;
}

.beers-image-section img{
  display: block;
  margin: auto;
  height: 160px;
  width: auto;
  max-width: 100%;
}

.beers-text-wrapper {
  width: 78%;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px;
}

.beers-text-wrapper h2 {
  font-size: 1.4rem;
  color: black;
}

.beers-text-wrapper .p-tag {
  font-size: 0.9rem;
  color: grey;
  font-weight: 700
}
.beers-text-wrapper p {
  font-size: 0.6rem;
  color: black;
}

.strong {
  font-weight: 700
}

.form-group .br {
  border-radius: 1.25rem
}

.button-form{
  display: inline-block;
  padding: 0.5rem;
  margin-top: 10px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 1.25rem;
  color: white;
  background-color: rgb(0, 217, 255);
  width: 100%;
}

.single-beer-wrapper {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.single-beer-image-wrapper {
  width: 100%;
}

.single-beer-image-wrapper img {
  display: block;
  width: auto;
  height: 250px;
  margin: auto;
}

.single-beer-title-wrapper {
  margin: 15px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  padding: 0 10px;
}

.left-item-top {
  width: 80%;
  font-size: 1.7rem;
}
.left-item-bot {
  width: 80%;
  color: grey;
}

.right-item-top {
  width: 20%;
  color: grey;
  font-size: 1.7rem;
}
.right-item-bot {
  width: 20%;
  font-weight: 700;
}

.single-beer-description{
  padding: 0 10px;
}

.single-beer-contributor {
  font-weight: 700;
}