.image {
    width:100%;
}

.beerImg {
    width: 100%;
}

.card-text {
    text-align: justify;
    padding: 0 20px 20px;
}

.main-link {
    text-decoration: none;
    color: black;
}

.main-link:hover {
    text-decoration: none;
    color: black;
}

.card:hover {
    background: rgba(82, 154, 208, 0.3);
    box-shadow: 0 0 10px blue;
}