.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home a {
  background: #23B9FF;
  display: block;
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  letter-spacing: .025rem;
  font-size: 1.2rem;
  transition: all .2s ease-in-out;
}

.Home a:hover {
  background-color: #0096DE;
}
