body {
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: rgba(33, 33, 114, 0.3);
  color: white;
}

.Home:hover {
  background: rgba(33, 33, 114, 0.8);
}

.Home img {
  width: 600px;
  height: 300px;
  border: 2px solid white;
  border-radius: 15px;
}

.Home a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
  font-size: 15px;
  margin: 200px 0 0 0;
}

.form input {
  padding: 10px;
}

.allBeers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0 0 0;
}

.link {
  text-decoration: none;
  text-align: center;
}

.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
