.App-header {
  background-color: rgb(15, 227, 255);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo{
  height: 40px;
}