.beerList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 60%;

}


.beerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
}