.each-beer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.line{
  display: flex;
  justify-content: space-between;
  width: 45vw;
  margin: 20px 0 15px 0;
}

.prop{
  width: 390px;
  text-align: left;
}

.each-beer p{
  margin-top: 30px;
}