*{
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 60px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home{
  margin: auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.home-section{
  border: 1px solid lightgray;
}

.home-section-text{
  padding:0 3% 3% 3%;
}

.home img{
  width: 100%;
  max-height: 350px;
}

.home a{
  text-decoration: none;
  color: black;
}

.beers-list a{
  text-decoration: none;
  color: black
}

.beers-list img{
  height: 80px
}

.beer-list-item{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.beer-list-item > :first-child{
  text-align: center;
  min-width: 80px;
}

.beer-list-item > :last-child{
  max-width: 90%;
}

.beer-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 3%; 
}

.beer-img-envelop > img{
  max-height: 50vh;
}

.beer-detail-first-line,
.beer-detail-second-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.beer-detail-first-line,
.beer-detail-second-line{
  text-align: left;
}

.beer-description,
.beer-contributor{
  text-align: justify;
}

.beer-detail-first-line,
.beer-detail-second-line,
.beer-description,
.beer-contributor{
  margin: 5px 0;
}

.beer-detail-first-line{
  font-size: 1.7em;
  font-weight: 500;
}

.beer-attenuation,
.beer-tagline,
.beer-contributor{
  color: grey;
}

.beer-first-brewed{
  color: black;
  font-weight: 900;
}

.new-beer-form{
  display: grid;
  justify-content: center;
  margin: 3%;
}

.label{
  display: grid;
}

.form-field{
  margin: 5px;
}

.input,
.textarea,
.form-button{
  border-radius: 7px;
  margin: 2px;
  padding: 2px;
}

.form-button{
  padding: 5px;
  background-color: #282c34;
  color: whitesmoke;
}

.list{
  display: grid;
  justify-content: center;
  margin: 3%;
}

.beer-list-item{
  margin: 5px;
  border-bottom: 1px lightgray solid;
}

.form-field-button{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
