.homepage{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20PX;
}

.home-section img{
  width: 75vw;
}

.homewords{
  display: flex;
  flex-direction: column;
  width: 55vw;
}

.homelink{
  text-decoration: none;
  color: black;
}