.beer-submit-form {
  margin: 20vh;
}

.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
}
.nav-style{
  position: fixed;
  top: 0px;
  height: 3rem;
  background-color: #61dafb;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-icon{
  position: fixed;
  top: 10px;
  text-align: center;
  list-style: none;
  margin-top: 0px;
  font-size: 2rem;
  color: white !important;
  text-decoration-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
