
body {
  margin: 0;
}
.nav-style{
  position: fixed;
  top: 0px;
  height: 3rem;
  background-color: #61dafb;
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;

}

.nav-icon{
  position: fixed;
  margin: 0;
  top: 10px;
  left: 48vw;
  list-style: none;
  margin-top: 0px;
  font-size: 2rem;
  color: white !important;
  text-decoration-color: white;
}

.beer-list{
  margin-top: 4rem;
}
