.BeerList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .beer-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 90%;

        .beer-card {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.2s;
            max-height: 5rem;
            max-width: 20rem;
            margin: 1rem;
    
            img {
                width: 2rem;
                margin-right: 2rem;
            }
    
            .beer-card-text {
    
                h2 {
                    margin: 0;
                }
    
                p {
                    margin: 0;
                }
    
            }
        }
    }
    a:link, a:visited, a:active {
        text-decoration:none;
        color: rgb(47, 47, 47);
    }
}
