.beer-bloc {
	display: grid;
	grid-template-columns: 25% auto;
	border-bottom: 1px solid var(--borderColor);
	padding: 1em 0.5em;
}

.beer-bloc .picture {
	text-align: center;
}

.beer-bloc img {
	height: 20vh;
}

.beer-bloc .content h2 {
	font-family: var(--titleFamily);
	font-size: 1.3em;
	font-weight: bold;
}

.beer-bloc .desc {
	margin: 1em 0;
	font-size: 1em;
	color: var(--descriptionColor);
}

.beer-bloc .creator {
	font-size: 0.8em;
}

.beer-bloc span {
	font-weight: bold;
}

@media (min-width: 960px) {
	.beer-bloc {
		padding: 2vh 1vw;
		width: 29vw;
		box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
		grid-template-columns: 40% auto;
		border-radius: 10px;
		margin: 2vh 1vw;
		transition: all 0.3s ease-in;
	}

	.beer-bloc:hover {
		box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
	}
}
