.bloc {
	width: 100vw;
	margin-bottom: 1.5em;
}

.bloc img {
	width: 100%;
}

.bloc article {
	padding: 0 1em;
}

.bloc h2 {
	margin: 0.5em 0;
	font-size: 1.5em;
	font-family: var(--titleFamily);
	font-weight: bold;
}

.bloc p {
	color: var(--descriptionColor);
	font-size: 0.8em;
	font-family: var(--bodyFamily);
	line-height: 1.2em;
}

@media (min-width: 960px) {
	main.home {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding-top: 1vh;
		height: 96vh;
	}

	.bloc {
		width: 30vw;
		height: 100%;
		margin: 1vw;
		box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
	}
}
