.Home {
  padding: 3%;
  text-align: center;
}

.Home-link {
  color: #000000;
  text-decoration: none;
}

.Home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0.75rem 0;
  text-align: left;
  padding: 0 5%;
  width: 80%;
}

.Home-img {
  width: 90%;
}

.Home-heading {
  font-size: 1rem;
  margin: 0;
}

.Home-text {
  color: #bfbfbf;
  font-size: 0.75rem;
  text-align: left;
}
