.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #32c3ff;
  height: 75px;
  width: 100%;
}

.NavBar {
  color: #ffffff;
}

.Nav-icon.icon {
  font-size: 2rem;
}

.Nav-item {
  list-style: none;
}

.Nav-link {
  color: #ffffff;
  text-decoration: none;
}
