.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #32c3ff;
  height: 75px;
  width: 100%;
}

.navbar-item {
  background-color: transparent;
  color: #ffffff;
}

.nav-icon {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
