.Beer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    height: 170px;
    width: 350px;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 8px;
}

.div-img {
    text-align: center;
    width: 100px;
}

.Beer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 200px;
    height: 150px;
}

.Beer-info-container p {
    color: rgb(175, 175, 175);
    font-size: 0.9rem;
}

.Beer-info-container strong {
    font-size: 0.8rem;
}