.BeerList {
  margin: 30px 40px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.Loader {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}