header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #3dc4fc;
  height: 45px;
  color: white;
  padding: 1rem;
  position: fixed;
  width: 100vw;
  top: 0;
}

.home-img {
  width: 3rem;
}

.App-link {
  color: white;
  text-decoration: none;
  text-align: center;
}
