img{
    width: 100%;
}
.home-title{
    text-align: start;
    color: black;
    padding-left: 12px;
}

.home-link{
    text-decoration: none;
    padding: 0;
}

.text{
    text-align: start;
    font-size: small;
    color: grey;
}

