.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  background: #58c4f8;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header a img {
  width: 40px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container a {
  width: 100%;
  color: black;
  text-align: left;
  text-decoration: none;
}

.home-box-container {
  border: 1px solid #f3f6f6;
  box-shadow: rgba(198, 208, 235, 0.5) 0px 10px 20px;
}

.home-box-container div img {
  width: 100%;
}

.home-box-container div:nth-child(2) {
  padding: 20px;
}

.home-box-container div h2 {
  margin-top: 0;
}

.home-box-container div p {
  font-weight: 100;
}

.beer-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
  color: black;
  text-decoration: none;
}

.beer-item a div img {
  height: 150px;
}

.beer-item a div:nth-child(1) {
  width: 30%;
}

.beer-item a div:nth-child(2) {
  width: 70%;
  text-align: left;
}

.beer-detail {
  padding: 40px;
}

.beer-detail img {
  height: 200px;
}

.beer-detail-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.beer-detail-name div:nth-child(1) {
  width: 70%;
  text-align: left;
}

.beer-detail-name div:nth-child(2) {
  display: inherit;
  flex-direction: column-reverse;
  width: 30%;
  text-align: right;
}

.beer-detail-name div:nth-child(2) small:nth-child(2) {
  font-size: 24px;
  color: gray;
  padding-bottom: 10px;
}

.beer-detail p {
  text-align: left;
}

@media (min-width: 1025px) {
  .home-container a {
    width: 33.33%;
  }

  .beer-item a div:nth-child(2) {
    width: 30%;
  }

  .beer-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px;
  }

  .beer-detail p {
    width: 35%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
