.header {
    background-color: lightskyblue;
    height: 80px;
    width: 100%;
    position: relative;
    cursor: pointer;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 2.5em;
}