.info{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:0vh 30vw;
}
.App {
  text-align: center;
}
.list{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  
}
