.nav-home{
    background-color: aqua;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-home{
    text-align: center;
    width: 8vw;
    height: 8vh;
    
}
.newbeer-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    text-align: center;
    
}
.newbeer-form label{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    opacity: 0.8;
}
.newbeer-form input{
    height: 2rem;
}
.newbeer-center{
    display: flex;
    justify-content: center;
}