

p, h1{
  width:705px;
}
p{
  color:grey;
}

.navbar {
  overflow: hidden;
  background-color:#48C4FC;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.Home-icon{
  width:50px;
  margin-left: 50%;
  margin-right: auto;

}
.Home-page, .single-beer{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.single-beer{
  margin-top:100px;
}
form{
  display:flex;
  flex-direction: column;
  margin:100px;
  width:400px;
}

input, textarea{
  width:300px;
  margin-bottom:30px;
  border-radius:12px;
}
input{
  height:20px;
}

label{
  width:200px
}
.submit-btn{
padding-bottom:30px;
padding-top:5px;
font-size: 15px;
text-align:center;
background-color:#48C4FC;
color:white;
}