* {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #3dc4fb;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.house-logo {
  height: 40px;
  width: auto;
}

.home {
  padding-left: 15vw;
  padding-right: 15vw;
}

.beer-img {
  height: 100px;
  width: auto;
}

.specBeer-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.singBeer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
