body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media screen and (max-width: 992px) {
  .navbar img {
    width: 100vw;
    height: 8vh;
  }
  .home-page {
    width: 100vw;
  }
  .home-page img {
    width: 100vw;
  }
  .home-page h2, p {
    color: black;
  }
}