.nav {
    height: 100px;
    background-color: rgb(0, 119, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a{
    font-size: 50px;
    color: white;
    text-decoration: none;
}
