@import '~bootstrap/scss/bootstrap.scss';

/*
*   GENERAL
* -------------------------------------------- */

img {
    @extend .img-fluid;
}

.main-content {
    min-height: calc(100vh - 125px);
}

/*
*   LINK CARD
* -------------------------------------------- */

.link-card {
    margin-bottom: 15px;

    &__image {
        margin-bottom: 15px;
    }
    &__text {
        @extend .col-12;
    }
}


/*
*   BEER CARD
* -------------------------------------------- */

.beer-card {
    @extend .d-flex;
    line-height: normal;
    border-bottom: 1px solid #DBDBDB;

    a {
        text-decoration: none;
    }

    &__image-wrapper {
        @extend .mb-0, .py-4;
        flex: 0 1 30%;
        text-align: center;

        img {
            max-height: 170px;
        }
    }

    &__content {
        @extend .d-flex, .flex-column, .justify-content-center;
        flex: 0 1 70%;
        padding-left: 15px;
    }

    .beer-name {
        @extend .mt-4, .text-dark;
        font-size: 24px;
        font-weight: normal;
    }

    .beer-tagline {
        @extend .mb-1, .text-secondary;
        font-size: 18px;
    }

    .beer-contributed {
        @extend .text-dark;
    }
}


/*
*   BEER DETAILS
* -------------------------------------------- */

.beer-details {
    @extend .mb-4;
    line-height: 1.35;

    &__img-wrapper {
        @extend .text-center, .my-5;
    }

    &__header {
        @extend .d-flex, .flex-wrap, .mb-4;
    }
        &__header__name {
            @extend .font-weight-normal;
            flex: 1 0 80%;
            font-size: 34px;
            margin-bottom: 0;
        }
        &__header__attenuation_level {
            @extend .text-right, .text-secondary;
            font-size: 36px;
            flex: 1 0 20%;
        }
        &__header__tagline {
            @extend .text-secondary;
            font-size: 20px;
            flex: 1 0 80%;
        }
        &__header__first-brewed {
            @extend .font-weight-bold, .align-self-center;
            font-size: 14px;
        }
    &__body {
        font-size: 17px;
    }
    &__footer small {
        @extend .font-weight-bold, .text-secondary;
        font-size: 14px;
    }
}

/*
*   FOOTER
* -------------------------------------------- */

.main-footer {
    @extend .p-2, .bg-dark, .text-white, .text-center;
}