.Allbeers{
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Allbeers input{
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: .5rem;
  border: 1px solid hsl(210, 75%, 35%);
}

.Allbeers .list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.Allbeers .Beer{
  margin: 2rem;
}