* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  /* padding: 1rem; */
}

.container img {
  width: 50%;
}

.beersImg {
  width: 25%;
}

.container a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 100;
  padding: 1rem;
}

.container h3 {
  color: grey;
  padding-bottom: 1rem;
}
