.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beerSection {
  width: 75%;
  align-content: flex-start;
}

.beerSection a {
  text-decoration: none;
  color: black;
}

.beerSection img {
  width: 100%;
}

.navBar {
  background-color: rgb(65, 179, 250);
}

.navBar img {
  width: 50px;
  margin: 10px;
}
.beerItem { 
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  border-bottom: 1px solid grey;
  text-decoration: none;
  color: black;
}

.beerItem img { 
  width: 100px;
}

.beerDetail {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.beerDetailImg img {
  margin-top: 50px;
  width: 75%;
}