.card {
  background-color: rgb(230, 229, 200);
  border-style: none;
  width: 100%;
  height: 300;
  text-align: left;
  border-radius: 20px;
  padding-bottom: 12px;
  margin-bottom: 24px;
}

.link h2, p {
  font-weight: 200;
  padding:0 5%;
}

.link {
  text-decoration: none;
  color: black;
}

.cardImg {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
