.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all-beer-card {
  height: 150px;
}

.all-beer-image-box {
  width: 100px;
  text-align: center;
}

.all-beer-image-box img {
  height: 100px;
}

.all-beer-info p {
  margin-bottom: 0;
  font-weight: bold;
  color: gray;
}

.all-beer-info span {
  font-size: 12px;
}