.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #61dafb;
  padding: 1vh;
  margin: 2vh;
  text-decoration: none;
  color: white;
}

.beer-name {
  font-size:  8vh;
  /* background-col; */
}

.tagline {
  color: grey;
}

ul {
  list-style-type: none;
  margin: 20vh 0;
}

img {
  width: 30px;
  margin-top: 10vh;
}

form {
  display:flex;
  flex-direction: column;
  width: 50vh;
  margin: 10vh;
}
form > button {
  width: 20vh;
  margin: 5vh;
}