body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

form {
  max-width: 400px;
  margin: 20px auto;
}

.search-bar {
  margin-bottom: 50px;
}

.btn-round {
  margin: 20px;
}

.Navbar {
  background: lightblue;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  margin-bottom: 15px;
  padding: 1rem;
  text-align: center;
}

.beers-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.beers-list li{
  display: flex;
}

.beers-list img{
  height: auto;
  width: 10rem ;

}

.beer-details {
  display: flex;
  flex-direction: column;

}

.beer-details img{
  height: auto;
  width: 10rem ;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto, 0.5rem;
}