body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

form {
  max-width: 400px;
  margin: 20px auto;
}

.search-bar {
  margin-bottom: 50px;
}

.btn-round {
  margin: 20px;
}

.ava-links {
  color: white !important;
  font-weight: 400;
}

.ava-nav {
  display:flex;
  flex-direction: row !important  ;
  align-items: center !important;
  justify-content: center !important;
}

.navbar {
  height: 50px; 
}
