//Coloring
$base-color: #00aaff;
$tone-color: #aaa;
//responsive size variables
$mobile: 768px;
$tablet: 769px;
$desktop: 1200px;
//Shadows and decoration variables:

@mixin small {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin normal {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin large {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin flexCol {
  display: flex;
  flex-direction: column;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::before {
    content: "";
    width: 100vw;
    height: 10px;
    position: fixed;
    top: -10px;
    left: 0;
    box-shadow: 0px 0 10px #000000cc;
    z-index: 2;
  }
}

.Link {
  text-decoration: none;
  color: inherit;
}

section {
  margin: 0rem 1rem;
  border: 2px solid $tone-color;
  @include flexCol();
  align-items: flex-start;
  div {
    margin: 1rem;
    text-align: left;
    color: grey;
    h2 {
      color: black;
    }
  }
  @include small {
    flex-direction: column;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  @include normal {
    margin: 0 auto;
    width: 705px;

    img {
      width: 705px;
    }
  }
}
//Header Component
.Header {
  background-color: $base-color;
  width: 100vw;
  padding: 1rem;
  box-shadow: 0px 0 10px #000000cc;
  @include flexCol();
  justify-content: center;
  align-items: center;
  @include normal {
    flex-direction: row;
    justify-content: space-evenly;
  }
  @include large {
    justify-content: space-between;
  }
  .icon {
    width: 3rem;
    height: 3rem;
    fill: white;
  }
  div {
    @include small {
      width: 90%;
    }
    @include normal {
      width: 60%;
    }
    position: relative;
    ::placeholder {
      color: white;
    }
    input {
      width: 100%;
      padding: 1rem 1rem 1rem 2rem;
      color: white;
      background-color: #00000033;
      font-size: 1rem;
      font-weight: 600;
      border: 2px solid white;
      border-radius: 10px;
      outline: none;
    }
    .search-icon {
      width: 1.25rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1.25rem;
      fill: white;
    }
  }
}
//list of beers //responsive shrinking until 339px width
.beer-list {
  margin: 2rem;
  padding: 0;
  list-style-type: none;
  li {
    border-bottom: 2px solid $tone-color;
    .list {
      display: flex;
    }
    .imgDiv {
      width: 190px;
      height: 220px;
      padding: 1rem;
      text-align: center;
      img {
        height: 100%;
      }
    }
    .content-preview {
      width: 100%;
      @include flexCol();
      justify-content: center;
      h2 {
        font-weight: 400;
        font-size: 1.9rem;
        margin: 0 0 1rem 0;
      }
      p {
        margin: 0 0 0.5rem 0;
      }
      P:first-of-type {
        color: grey;
        font-size: 1.35rem;
        font-weight: 500;
      }
    }
  }
}
//single beer || random beer
.single-beer {
  @include flexCol();
  border: none;
  margin: 2rem;
  img {
    margin: 0 auto;
    padding: 1rem;
    height: 380px;
    width: auto;
  }
  div {
    font-size: 1.5rem;
    color: black;
    h2 {
      font-weight: 400;
    }
    span {
      color: black;
      float: right;
    }
    .greyed {
      color: $tone-color;
      font-weight: bold;
    }
  }
  @include normal {
    margin: 0 auto;
  }
  @include large {
    flex-direction: row;
    margin: 0 auto;
    width: 70%;
    img {
      height: 500px;
    }
  }
}
// form for new beer
form {
  margin: 2rem;
  @include flexCol();
  justify-content: center;
  label {
    margin: 1rem 0 0 1rem;
    text-align: left;
    font-size: 0.8rem;
    font-weight: bold;
  }
  input,
  textarea,
  button {
    width: 100%;
    border-radius: 16px;
    border: 1px solid $tone-color;
    padding: 0.5rem;
  }
  button {
    margin: 1rem 0;
    background-color: $base-color;
    border: none;
    color: white;
  }
  @include normal {
    width: 70%;
    margin: 0 auto;
  }
}
