body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.selected {
  border: 4px solid black;
}
.crdImg {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
ul {
  display: flex;
  text-align:center;
}
.icon {
  height: 50px;
  width: 50px;
}
