.beerCard {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 1px solid gray;
}

.beerInfo {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}
.beerTagline {
    color: gray;
}

.beersLink{
    color: black;
    text-decoration: none;
    font-size: x-large;
    padding-left: 15px;
    padding-top: 5px;
}
#searchInput{
    width: 80%;
    margin-top: 15px;
}
label{
    margin-top: 17px;
    color: gray;
}